language: node_js
node_js:
- '10'
- '8'
- '6'
deploy:
  provider: npm
  email: wouter.dullaert@gmail.com
  api_key:
    secure: k3+RuqkVogZk+YAIlrHhIs2QZhvWRBPK8+5T9gh5CN2KJclceB/C1taRttlDh25f0WNy0g/IhGDC9Et1K3NxvHHp6mZdAk9Yek/mXsOYEB8lrC07ILNWlXrnohwikhRHGtNlmTRt3myPsRntg2oXf+svNcwFOa5ai2dYsxwABV4qICMGT+UHnecsktb96U3+pYbjdT/VZvgv4QtozV3pbl1mipFwS8/zPLcl/4r09xJiFG209tpFK9Ap+mNcm61ZZb1ddyF816B2rHYtrUpUpPFeacpY7Qf/ZPh5LcqvCE2aihVcSsOHdenh8frrXzb2AfdFJz092zCakIqihTsy5GABXKSReocZOwZAli+kIyGotR8chtDsm+cdDaTjM4/8Uaj9yJbCsWgNN9ELikXuEOpi5qX6TdIlweBRwvE8XlIDFxXpnr2a8EBvy9bqr6jSsGTFVGFtUGVF4CaWibOVLXI+1VoGK6gkYLE1v4bZ5dumYr7hQLAeVUAlEdGV1zwQnCFkotMRcoZ3nTI1jfzQtVuOA9DkD2pmp//62uiqfgLJuhuxab2PfAWufuUbbtEnZeQ8elVsQG2KeZZZeodpwl9iIH9BJ+js6fkdd3awfxv7APNv0diIREJ300iVuw8Xg1zLkah1Iwmfm2wdBfDeq36lBdHL3yg8fIWgDNXN8hY=
  skip_cleanup: true
  on:
    tags: true
    node: '8'
